<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Music</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>Ticket Music</h1>
    <p>Bem vindo a Ticket Music</p>
  </body>
</html>
